@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: "Patrick Hand SC", cursive;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
}

body {
  margin: 0;
  background: darkslategray;
}

.main {
  width: 100%;
}

.main__header {
  margin-top: 0px;
  padding-bottom: 20px;
  background: linear-gradient(#bbbbbb, darkslategray);
  top: 0;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main__containerGet {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 0 2.5% 0 2%;
  width: 100%;
}
